* {
    margin: 0;
    padding: 0;
    font-family: lato;
   
}
h1{
    display: inline-block;
    position:relative;
    text-align: center;
    justify-content: center;
    color:#24303c;
    
font-family: 'Arima', cursive;
    
}
h1::after,h1::before{
    content: '';
    position:absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top:0.6em;
    transform: scale(0);
    transition: all 0.2s ease-in;
      
}
h1:hover::before, h1:hover::after{
    transform: scale(1);
}
h1::before{
    left:-140px;
}
h1::after{
    right: -140px;
}
.button{
    font-size: 25px;
    text-decoration: none;
    border-radius: 3px;
    padding: 20px 15px;
    display: inline-block;
    text-shadow:0 1px 0 rgba(255,255,255,0.3);
   box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.btn-green{
    color:white;
    background-color: #5DADE2;
   
    
}
.btn-green:hover{
    background-color:#2E86C1 ;
}
.btn-green:active{
    background-color: #1B4F72 ;
}
body{
    background-image: url('fondo.jpg');
    text-align: center;
}
.titulo {
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    color: #758184;
}

.slider-frame {
	width: 650px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
        border-radius: 15px;
       
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.containerform{
    width: 450px;
    height: auto;
	margin:20px auto 0;
	overflow: flex;
        border-radius: 15px;
        justify-content: center;
        text-align: center;
        position: center;
}
